{capture name=tabs}
		<li><a href="index.php?module=SendAdmin">Рассылка</a></li>
		<li class="active"><a href="index.php?module=SendUsersAdmin">Подписчики</a></li>
{/capture}

{if $feature->id}
{$meta_title = $feature->name scope=parent}
{else}
{$meta_title = 'Рассылка' scope=parent}
{/if}

{* Подключаем Tiny MCE *}
{include file='tinymce_init_small.tpl'}

{* On document load *}
{literal}
<script>

$(function() {
	// Добавление 
}
</script>
{/literal}

{if $message_success}
<!-- Системное сообщение -->
<div class="message message_success">
	<span>{if $message_success=='added'}Свойство добавлено{elseif $message_success=='updated'}Свойство обновлено{else}{$message_success}{/if}</span>
	{if $smarty.get.return}
	<a class="button" href="{$smarty.get.return}">Вернуться</a>
	{/if}
</div>
<!-- Системное сообщение (The End)-->
{/if}

{if $message_error}
<!-- Системное сообщение -->
<div class="message message_error">
	<span>{$message_error}</span>
	<a class="button" href="">Вернуться</a>
</div>
<!-- Системное сообщение (The End)-->
{/if}

<!-- Основная форма -->
<form method=post id=send>

	<div id="name">
		<input class="name" name=subject type="text" value="{$subject}"/> 
		<!--<input name=id type="hidden" value="{$feature->id|escape}"/> -->
	</div> 

	<!-- Левая колонка свойств товара -->
	<input type="submit">
	
</form>
<!-- Основная форма (The End) -->

