#autocomplete {
    position: absolute;
    z-index: 100;
    overflow: hidden;
}

#autocomplete ul {
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-image: none;
}

#autocomplete li {
    cursor: default;
    white-space: pre;
    zoom:1;}

html.js .form-autocomplete {
    background-image: url(http://cdn.thomaskeller.com/sites/all/themes/omega/omega/images/misc/throbber.gif?1382488163);
    background-position: 100% 2px;
    background-repeat: no-repeat;
}

html.js .throbbing {
    background-position: 100% -18px;
}

html.js fieldset.collapsed {
    height: 1em;
}

html.js fieldset.collapsed .fieldset-wrapper {
    display: none;
}

fieldset.collapsible {
    position: relative;
}

fieldset.collapsible .fieldset-legend {
    display: block;
}

.form-textarea-wrapper textarea {
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
}

.resizable-textarea .grippie {
    height: 9px;
    background: #eee url(http://cdn.thomaskeller.com/sites/all/themes/omega/omega/images/misc/grippie.png?1382488163) no-repeat center 2px;
    border: 1px solid #ddd;
    border-top-width: 0;
    cursor: s-resize;
    overflow: hidden;
}

body.drag {
    cursor: move;
}

.tabledrag-handle {
    float: left;
    overflow: hidden;
    text-decoration: none;
    cursor: move;
}

.tabledrag-handle .handle {
    height: 15px;
    width: 15px;
    margin: -0.4em 0;
    padding: 0.4em;
    background: url(http://cdn.thomaskeller.com/sites/all/themes/omega/omega/images/misc/draggable.png?1382488163) no-repeat 6px 9px;
}

.tabledrag-handle:hover {
    text-decoration: none;
}

.tabledrag-handle-hover .handle {
    background-position: 6px -11px;
}

.indentation {
    float: left;
    width: 20px;
}

.tree-child {
    background: url(http://cdn.thomaskeller.com/sites/all/themes/omega/omega/images/misc/tree.png?1382488163) no-repeat 12px center;
}

.tree-child-last {
    background: url(http://cdn.thomaskeller.com/sites/all/themes/omega/omega/images/misc/tree-bottom.png?1382488163) no-repeat 12px center;
}

.tree-child-horizontal {
    background: url(http://cdn.thomaskeller.com/sites/all/themes/omega/omega/images/misc/tree.png?1382488163) no-repeat -12px center;
}

.tabledrag-toggle-weight-wrapper {
    text-align: right;
}

.sticky-header {
    margin-top: 0;
    background-color: #fff;
}

.progress .bar {
    background-color: #fff;
    border: 1px solid;
}

.progress .filled {
    height: 1.5em;
    width: 5px;
    background-color: #000;
}

.progress .percentage {
    float: right;
}

.ajax-progress {
    display: inline-block;
}

.ajax-progress .throbber {
    float: left;
    height: 15px;
    width: 15px;
    margin: 2px;
    background: transparent url(http://cdn.thomaskeller.com/sites/all/themes/omega/omega/images/misc/throbber.gif?1382488163) no-repeat 0px -18px;
}

.ajax-progress .message {
    padding-left: 20px;
}

tr .ajax-progress .throbber {
    margin: 0 2px;
}

.ajax-progress-bar {
    width: 16em;
}

.container-inline div,.container-inline label {
    display: inline;
}

.container-inline .fieldset-wrapper {
    display: block;
}

.nowrap {
    white-space: nowrap;
}

html.js .js-hide {
    display: none;
}

.element-hidden {
    display: none;
}

.element-invisible {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px,1px,1px,1px);
    overflow: hidden;
    height: 1px;
}

.element-invisible.element-focusable:active,.element-invisible.element-focusable:focus {
    position: static !important;
    clip: auto;
    overflow: visible;
    height: auto;
}

.clearfix {
    *zoom:1;}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.menu {
    border: none;
    list-style: none;
    text-align: left;
}

.menu .expanded {
    list-style-image: url(http://cdn.thomaskeller.com/sites/all/themes/omega/omega/images/misc/menu-expanded.png?1382488163);
    list-style-type: circle;
}

.menu .collapsed {
    list-style-image: url(http://cdn.thomaskeller.com/sites/all/themes/omega/omega/images/misc/menu-collapsed.png?1382488163);
    list-style-type: disc;
}

.menu .leaf {
    list-style-image: url(http://cdn.thomaskeller.com/sites/all/themes/omega/omega/images/misc/menu-leaf.png?1382488163);
    list-style-type: square;
}

.active {
    color: #000;
}

.menu-disabled {
    background: #ccc;
}

.links--inline {
    *zoom:1;list-style-type: none;
    margin: 0;
    padding: 0;
}

.links--inline:after {
    content: "";
    display: table;
    clear: both;
}

.links--inline li {
    float: left;
    margin-right: 1em;
}

.links--inline li > a {
    display: block;
}

.tabs a {
    background-color: #eee;
    text-decoration: none;
}

.tabs a.active {
    background-color: #ccc;
}

.tabs a:hover,.tabs a:focus {
    background-color: #bbb;
}

.tabs--primary {
    margin-bottom: 1em;
    border-bottom: 1px solid #bbb;
}

.tabs--primary a {
    padding: 0.3em 0.8em;
}

.tabs--secondary a {
    padding: 0.2em 0.5em;
    margin: 0.4em 0;
    font-size: 0.9em;
}
.messages {
    margin: 6px 0;
    padding: 10px 10px 10px 50px;
    background-position: 8px 8px;
    background-repeat: no-repeat;
    border: 1px solid;
}

.messages ul {
    margin: 0 0 0 1em;
    padding: 0;
}

.messages li {
    list-style-image: none;
}

.messages--status {
    background-image: url(http://cdn.thomaskeller.com/sites/all/themes/omega/omega/images/misc/message-24-ok.png?1382488163);
    border-color: #be7;
}

.messages--status,tr.ok {
    background-color: #f8fff0;
}

.messages--status,.ok {
    color: #234600;
}

.messages--warning {
    background-image: url(http://cdn.thomaskeller.com/sites/all/themes/omega/omega/images/misc/message-24-warning.png?1382488163);
    border-color: #ed5;
}

.messages--warning,tr.warning {
    background-color: #fffce5;
}

.messages--warning,.warning {
    color: #333;
}

.messages--error {
    background-image: url(http://cdn.thomaskeller.com/sites/all/themes/omega/omega/images/misc/message-24-error.png?1382488163);
    border-color: #ed541d;
}

.messages--error,tr.error {
    background-color: #fef5f1;
}

.messages--error,.error {
    color: #333;
}

.error .error {
    color: #8c2e0b;
}
fieldset {
    margin-bottom: 1em;
}

table {
    border-collapse: collapse;
}

th {
    padding-right: 1em;
    background-color: #bbb;
    text-align: left;
}

tr.even,tr.odd {
    background-color: #eee;
}

tr.odd {
    background-color: #ddd;
}

#autocomplete {
    background: #fff;
    border: 1px solid;
    color: #000;
}

#autocomplete .selected {
    background: #0072b9;
    color: #fff;
}

html.js fieldset.collapsible .fieldset-legend {
    padding-left: 15px;
    background: url(http://cdn.thomaskeller.com/sites/all/themes/omega/omega/images/misc/menu-expanded.png?1382488163) 5px 65% no-repeat;
}

html.js fieldset.collapsed {
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
}

html.js fieldset.collapsed .fieldset-legend {
    background-image: url(http://cdn.thomaskeller.com/sites/all/themes/omega/omega/images/misc/menu-collapsed.png?1382488163);
    background-position: 5px 50%;
}

.fieldset-legend .summary {
    margin-left: 0.5em;
    color: #999;
    font-size: 0.9em;
}

.drag {
    background-color: #fffff0;
}

.drag-previous {
    background-color: #ffd;
}

.progress {
    font-weight: bold;
}

.progress .bar {
    background: #ccc;
    border-color: #666;
    margin: 0 0.2em;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.progress .filled {
    background: #0072b9 url(http://cdn.thomaskeller.com/sites/all/themes/omega/omega/images/misc/progress.gif?1382488163);
}

.selected td {
    background: #ffc;
}

.checkbox,.checkbox {
    text-align: center;
}

.form-item,.form-actions {
    margin-bottom: 1em;
}

.form-item label,.form-actions label {
    display: block;
    font-weight: bold;
}

.form-item .description,.form-actions .description {
    font-size: 0.85em;
}

.form-checkboxes .form-item,.form-radios .form-item {
    margin-bottom: 0.4em;
}

.form-checkboxes .description,.form-radios .description {
    margin-left: 2.4em;
}

label.option {
    display: inline;
    font-weight: normal;
}

.form-checkbox,.form-radio {
    vertical-align: middle;
}

.marker,.form-required {
    color: #f00;
}

input.error,textarea.error,select.error {
    border: 2px solid red;
}

tr .form-item {
    margin-top: 0;
    margin-bottom: 0;
    white-space: nowrap;
}

.container-inline .form-actions,.container-inline.form-actions {
    margin-top: 0;
    margin-bottom: 0;
}

th.active img {
    display: inline;
}

td.active {
    background-color: #ddd;
}

.more-link {
    display: block;
    text-align: right;
}

.pager {
    clear: both;
    padding: 0;
    text-align: center;
}

.pager__item {
    display: inline;
    padding: 0.5em;
    background-image: none;
    list-style-type: none;
}

.pager__item--current {
    font-weight: bold;
}
.calendar-calendar tr.odd,.calendar-calendar tr.even {
    background-color: #fff;
}

.calendar-calendar table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

.calendar-calendar .month-view table {
    border: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.calendar-calendar .year-view td {
    width: 32%;
    padding: 1px;
    border: none;
}

.calendar-calendar .year-view td table td {
    width: 13%;
    padding: 0;
}

.calendar-calendar tr {
    padding: 0;
    margin: 0;
    background-color: white;
}

.calendar-calendar th {
    text-align: center;
    margin: 0;
}

.calendar-calendar th a {
    font-weight: bold;
}

.calendar-calendar td {
    width: 14%;
    border: 1px solid #ccc;
    color: #777;
    text-align: right;
    vertical-align: top;
    margin: 0;
    padding: 0;
}

.calendar-calendar .mini {
    border: none;
}

.calendar-calendar td.week {
    width: 1%;
    min-width: 1%;
}

.calendar-calendar .week {
    clear: both;
    font-style: normal;
    color: #555;
    font-size: 0.8em;
}

.calendar-calendar .inner {
    height: auto !important;
    height: 5em;
    padding: 0;
    margin: 0;
}

.calendar-calendar .inner div {
    padding: 0;
    margin: 0;
}

.calendar-calendar .inner p {
    padding: 0 0 .8em 0;
    margin: 0;
}

.calendar-calendar td a {
    font-weight: bold;
    text-decoration: none;
}

.calendar-calendar td a:hover {
    text-decoration: underline;
}

.calendar-calendar td.year,.calendar-calendar td.month {
    text-align: center;
}

.calendar-calendar th.days {
    color: #ccc;
    background-color: #224;
    text-align: center;
    padding: 1px;
    margin: 0;
}

.calendar-calendar div.day {
    float: right;
    text-align: center;
    padding: 0.125em 0.25em 0 0.25em;
    margin: 0;
    background-color: #f3f3f3;
    border: 1px solid gray;
    border-width: 0 0 1px 1px;
    clear: both;
    width: 1.5em;
}

.calendar-calendar div.calendar {
    background-color: #fff;
    border: solid 1px #ddd;
    text-align: left;
    margin: 0 .25em .25em 0;
    width: 96%;
    float: right;
    clear: both;
}

.calendar-calendar .day-view div.calendar {
    float: none;
    width: 98%;
    margin: 1% 1% 0 1%;
}

.calendar-calendar div.title {
    font-size: .8em;
    text-align: center;
}

.calendar-calendar div.title a {
    color: #000;
}

.calendar-calendar div.title a:hover {
    color: #c00;
}

.calendar-calendar .content {
    clear: both;
    padding: 3px;
    padding-left: 5px;
}

.calendar div.form-item {
    white-space: normal;
}

table td.mini,table th.mini,table.mini td.week {
    padding: 0 1px 0 0;
    margin: 0;
}

table td.mini a {
    font-weight: normal;
}

.calendar-calendar .mini-day-off {
    padding: 0px;
}

.calendar-calendar .mini-day-on {
    padding: 0px;
}

table .mini-day-on a {
    text-decoration: underline;
}

.calendar-calendar .mini .title {
    font-size: .8em;
}

.mini .calendar-calendar .week {
    font-size: .7em;
}

.mini-row {
    width: 100%;
    border: none;
}

.mini {
    width: 32%;
    vertical-align: top;
}

.calendar-calendar .stripe {
    height: 5px;
    width: auto;
    font-size: 1px !important;
    line-height: 1px !important;
}

.calendar-calendar .day-view .stripe {
    width: 100%;
}

table.calendar-legend {
    background-color: #ccc;
    width: 100%;
    margin: 0;
    padding: 0;
}

table.calendar-legend tr.odd .stripe,table.calendar-legend tr.even .stripe {
    height: 12px !important;
    font-size: 9px !important;
    line-height: 10px !important;
}

.calendar-legend td {
    text-align: left;
    padding-left: 5px;
}

.calendar-empty {
    font-size: 1px;
    line-height: 1px;
}

.calendar-calendar td.calendar-agenda-hour {
    text-align: right;
    border: none;
    border-top: 1px solid #CCCCCC;
    padding-top: .25em;
    width: 1%;
}

.calendar-calendar td.calendar-agenda-no-hours {
    min-width: 1%;
}

.calendar-calendar td.calendar-agenda-hour .calendar-hour {
    font-size: 1.2em;
    font-weight: bold;
}

.calendar-calendar td.calendar-agenda-hour .calendar-ampm {
    font-size: 1em;
}

.calendar-calendar td.calendar-agenda-items {
    border: 1px solid #CCCCCC;
    text-align: left;
}

.calendar-calendar td.calendar-agenda-items div.calendar {
    width: auto;
    padding: .25em;
    margin: 0;
}

.calendar-calendar div.calendar div.inner .calendar-agenda-empty {
    width: 100%;
    text-align: center;
    vertical-align: middle;
    padding: 1em 0;
    background-color: #fff;
}

.calendar-date-select form {
    text-align: right;
    float: right;
    width: 25%;
}

.calendar-date-select div,.calendar-date-select input,.calendar-date-select label {
    text-align: right;
    padding: 0;
    margin: 0;
    float: right;
    clear: both;
}

.calendar-date-select .description {
    float: right;
}

.calendar-label {
    font-weight: bold;
    display: block;
    clear: both;
}

.calendar-calendar div.date-nav {
    background-color: #ccc;
    color: #777;
    padding: 0.2em;
    width: auto;
    border: 1px solid #ccc;
}

.calendar-calendar div.date-nav a,.calendar-calendar div.date-nav h3 {
    color: #777;
    text-decoration: none;
}

.calendar-calendar th.days {
    background-color: #eee;
    color: #777;
    font-weight: bold;
    border: 1px solid #ccc;
}

.calendar-calendar td.empty {
    background: #ccc;
    border-color: #ccc;
    color: #cc9;
}

.calendar-calendar table.mini td.empty {
    background: #fff;
    border-color: #fff;
}

.calendar-calendar td div.day {
    border: 1px solid #ccc;
    border-top: none;
    border-right: none;
    margin-bottom: 2px;
}

.calendar-calendar td .inner div,.calendar-calendar td .inner div a {
    background: #eee;
}

.calendar-calendar div.calendar {
    border: none;
    font-size: x-small;
}

.calendar-calendar td .inner div.calendar div,.calendar-calendar td .inner div.calendar div a {
    border: none;
    background: #ffc;
    padding: 0;
}

.calendar-calendar td .inner div.calendar div.calendar-more,.calendar-calendar td .inner div.calendar div.calendar-more a {
    color: #444;
    background: #fff;
    text-align: right;
}

.calendar-calendar td .inner .view-field,.calendar-calendar td .inner .view-field a {
    color: #444;
    font-weight: normal;
}

.calendar-calendar td span.date-display-single,.calendar-calendar td span.date-display-start,.calendar-calendar td span.date-display-end,.calendar-calendar td span.date-display-separator {
    font-weight: bold;
}

.calendar-calendar td .inner div.day a {
    color: #4b85ac;
}

.calendar-calendar tr td.today,.calendar-calendar tr.odd td.today,.calendar-calendar tr.even td.today {
    background-color: #C3D6E4;
}

.calendar-calendar td .inner div.calendar div div.view-data-node-data-field-date-field-date-value {
}

.calendar-calendar td.past {
}

.calendar-calendar td.future {
}

.calendar-calendar td.has-events {
}

.calendar-calendar td.has-no-events {
}

.calendar-calendar tbody {
    border-top: none;
}

.calendar-calendar .month-view .full .inner,.calendar-calendar .week-view .full .multi-day .inner {
    height: auto;
    min-height: auto;
}

.calendar-calendar .week-view .full .calendar-agenda-hour
.calendar-calendar .month-view .full .single-day .inner .view-item {
    float: left;
    width: 100%;
}

.calendar-calendar .week-view .full .calendar-agenda-hour,.calendar-calendar .day-view .full .calendar-agenda-hour {
    padding-right: 2px;
}

.calendar-calendar .week-view .full .calendar-agenda-hour {
    width: 6%;
    min-width: 0px;
}

.calendar-calendar .week-view .full .days {
    width: 13%;
}

.calendar-calendar .month-view .full div.calendar,.calendar-calendar .week-view .full div.calendar,.calendar-calendar .day-view div.calendar {
    width: auto;
}

.calendar-calendar .month-view .full tr.date-box,.calendar-calendar .month-view .full tr.date-box td,.calendar-calendar .month-view .full tr.multi-day,.calendar-calendar .month-view .full tr.multi-day td {
    height: 19px;
    max-height: 19px;
}

.calendar-calendar .month-view .full tr.single-day .no-entry,.calendar-calendar .month-view .full tr.single-day .no-entry .inner {
    height: 44px !important;
    line-height: 44px;
}

.calendar-calendar .month-view .full tr.single-day .noentry-multi-day,.calendar-calendar .month-view .full tr.single-day .noentry-multi-day .inner {
    height: 22px !important;
    line-height: 22px;
}

.calendar-calendar .month-view .full td,.calendar-calendar .week-view .full td,.calendar-calendar .day-view td {
    vertical-align: top;
    padding: 1px 2px 0 2px
}

.calendar-calendar .month-view .full td.date-box {
    height: 1%;
    border-bottom: 0px;
    padding-bottom: 2px;
}

.calendar-calendar .month-view .full .week {
    font-size: inherit;
}

.calendar-calendar .month-view .full .week a,.calendar-calendar .week-view .full .week a {
    color: #4b85ac;
}

.calendar-calendar .month-view .full td .inner div.day,.calendar-calendar .month-view .full td .inner div.day a {
    border: none;
    background: none;
    margin-bottom: 0px;
}

.calendar-calendar .month-view .full td.date-box .inner,.calendar-calendar .week-view .full td.date-box .inner {
    min-height: inherit;
}

.calendar-calendar .month-view .full td.multi-day,.calendar-calendar .week-view .full td.multi-day {
    border-top: 0px;
    border-bottom: 0px;
}

.calendar-calendar .week-view .full .first td.multi-day {
    border-top: 1px solid #CCCCCC;
}

.calendar-calendar .month-view .full td.single-day {
    border-top: 0px;
}

.calendar-calendar .month-view .full td.multi-day .inner,.calendar-calendar .week-view .full td.multi-day .inner,.calendar-calendar .day-view .full td.multi-day .inner {
    min-height: inherit;
    width: auto;
    position: relative;
}

.calendar-calendar .month-view .full td.multi-day.no-entry {
    min-height: 0px;
}

.calendar-calendar .month-view .full td.single-day .calendar-empty,.calendar-calendar .month-view .full td.single-day.empty,.calendar-calendar .month-view .full td.date-box.empty {
    background: #F4F4F4;
}

.calendar-calendar .month-view .full td.single-day .inner div,.calendar-calendar .month-view .full td.single-day .inner div a,.calendar-calendar .month-view .full td.multi-day .inner div,.calendar-calendar .month-view .full td.multi-day .inner div a,.calendar-calendar .month-view .full td .inner div.calendar.monthview div,.calendar-calendar .month-view .full td .inner div.calendar.monthview div a,.calendar-calendar .week-view .full td.single-day .inner div,.calendar-calendar .week-view .full td.single-day .inner div a,.calendar-calendar .week-view .full td.multi-day .inner div,.calendar-calendar .week-view .full td.multi-day .inner div a,.calendar-calendar .week-view .full td .inner div.calendar.weekview div,.calendar-calendar .week-view .full td .inner div.calendar.weekview div a,.calendar-calendar .day-view .full td .inner div.view-item,.calendar-calendar .day-view .full td .inner div.calendar div,.calendar-calendar .day-view .full td .inner div.calendar div a {
    background: none;
}

.calendar-calendar .day-view .full td .inner div.calendar div,.calendar-calendar .day-view .full td .inner div.calendar div a {
    margin: 0px 3px;
}

.calendar-calendar .day-view .full td .inner div.calendar div.stripe {
    margin: 0px;
}

.calendar-calendar .month-view .full tr td.today,.calendar-calendar .month-view .full tr.odd td.today,.calendar-calendar .month-view .full tr.even td.today {
    background: none;
    border-left: 2px solid #7C7F12;
    border-right: 2px solid #7C7F12;
}

.calendar-calendar .month-view .full td.date-box.today {
    border-width: 2px 2px 0px 2px;
    border-style: solid;
    border-color: #7C7F12;
}

.calendar-calendar .month-view .full tr td.single-day.today {
    border-bottom: 2px solid #7C7F12;
}

.calendar-calendar .month-view .full tr td.multi-day.starts-today {
    border-left: 2px solid #7C7F12;
}

.calendar-calendar .month-view .full tr td.multi-day.ends-today {
    border-right: 2px solid #7C7F12;
}

.calendar-calendar .month-view .full tr td.multi-day,.calendar-calendar .month-view .full tr td.single-day {
    border-top: 0px;
}

.calendar-calendar .month-view .full tr td.multi-day,.calendar-calendar .month-view .full tr td.date-box {
    border-bottom: 0px;
}

.calendar-calendar .month-view .full .inner .monthview,.calendar-calendar .week-view .full .inner .weekview,.calendar-calendar .day-view .full .inner .dayview {
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: auto;
    float: none;
    display: block;
    margin: .25em auto;
    position: relative;
}

.calendar-calendar .month-view .full td.single-day div.monthview,.calendar-calendar .week-view .full td.single-day div.weekview,.calendar-calendar .day-view .full td.single-day div.dayview {
    background: #ffc;
    width: auto;
    padding: 0px 3px;
    overflow: hidden;
}

.calendar-calendar .month-view .full td.single-day .calendar-more div.monthview {
    background: none;
}

.calendar-calendar .day-view td div.dayview {
    padding: 0px;
}

.calendar-calendar .month-view .full td.multi-day div.monthview,.calendar-calendar .week-view .full td.multi-day div.weekview,.calendar-calendar .day-view .full td.multi-day div.dayview {
    background: #74a5d7;
    height: 1.9em;
    overflow: hidden;
    margin: 0px auto;
    color: #ffffff;
    position: relative;
}

.calendar-calendar .week-view .full td.multi-day div.weekview {
    height: 3.5em;
}

.calendar-calendar .month-view .full td.multi-day .inner .view-field,.calendar-calendar .month-view .full td.multi-day .inner .view-field a,.calendar-calendar .week-view .full td.multi-day .inner .view-field,.calendar-calendar .week-view .full td.multi-day .inner .view-field a,.calendar-calendar .day-view .full td.multi-day .inner .view-field,.calendar-calendar .day-view .full td.multi-day .inner .view-field a {
    color: #ffffff;
}

.calendar-calendar .full td.multi-day .calendar .view-field,.calendar-calendar .full td.single-day .calendar .view-field {
}

.calendar-calendar .day-view .full td.multi-day div.dayview,.calendar-calendar .week-view .full td.multi-day div.weekview {
    margin-bottom: 2px;
}

.calendar-calendar .month-view .full td.multi-day .calendar.monthview .view-field {
    white-space: nowrap;
    float: left;
    margin-right: 3px;
}

.calendar-calendar .week-view .full td.multi-day .calendar.weekview .view-field {
    white-space: nowrap;
    display: inline;
    margin-right: 3px;
}

.calendar-calendar .day-view .full td.multi-day .calendar.weekview .view-field {
    display: block;
}

.calendar-calendar .month-view .full td.multi-day .calendar.monthview .contents,.calendar-calendar .week-view .full td.multi-day .calendar.weekview .contents {
    position: absolute;
    width: 3000px;
    left: 5px;
}

.calendar-calendar .day-view td .stripe,.calendar-calendar .month-view .full td .stripe,.calendar-calendar .week-view .full td .stripe {
    -moz-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 3px;
    z-index: 2;
}

.calendar-calendar .full td.single-day .continuation,.calendar-calendar .full td.single-day .continues,.calendar-calendar .full td.single-day .cutoff {
    display: none;
}

.calendar-calendar .month-view .full td.multi-day .inner .monthview .continuation,.calendar-calendar .week-view .full td.multi-day .inner .weekview .continuation {
    float: left;
    margin-right: 3px;
    height: 1.9em;
}

.calendar-calendar .week-view .full td.multi-day .inner .weekview .continuation {
    height: 2.75em;
    padding-top: 0.75em;
    margin-right: 8px;
}

.calendar-calendar .month-view .full td.multi-day .inner .monthview .continues,.calendar-calendar .month-view .full td.multi-day .inner .monthview .cutoff,.calendar-calendar .week-view .full td.multi-day .inner .weekview .continues,.calendar-calendar .week-view .full td.multi-day .inner .weekview .cutoff {
    position: absolute;
    right: 0px !important;
    right: -1px;
    width: 10px;
    text-align: left;
    background: #74a5d7;
    -moz-border-radius: 0px 5px 5px 0px;
    border-radius: 0px 5px 5px 0px;
    height: 1.9em;
    padding-left: 6px;
    z-index: 1;
}

.calendar-calendar .week-view .full td.multi-day .inner .weekview .continues,.calendar-calendar .week-view .full td.multi-day .inner .weekview .cutoff {
    height: 2.75em;
    padding-top: 0.75em;
}

.calendar-calendar .month-view .full td.multi-day .inner .monthview .cutoff,.calendar-calendar .week-view .full td.multi-day .inner .weekview .cutoff {
    width: 8px;
    padding-left: 0px;
}

.calendar-calendar .week-view .full td.multi-day {
    padding: 2px;
}

.calendar-calendar .week-view td.single-day div.calendar {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

.calendar-calendar .week-view .full tr.last td.multi-day {
    border-bottom: 1px solid #CCCCCC;
}

.view .date-nav-wrapper .clear-block {
    margin-bottom: 10px;
}

.view .date-nav-wrapper {
    position: relative;
    margin-top: 5px;
    width: 100%;
}

.view .date-nav-wrapper .date-nav {
    background-color: transparent;
    border: 0px;
    height: 30px;
    height: auto;
    min-height: 30px;
    position: relative;
    margin-bottom: 10px;
}

.view .date-nav-wrapper .date-prev a,.view .date-nav-wrapper .date-next a {
    text-decoration: none;
    color: inherit;
    font-size: 12px;
}

.view .date-nav-wrapper.date-nav a:hover {
    text-decoration: underline;
}

.view .date-nav-wrapper .date-prev {
    -moz-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
    background: none repeat scroll 0 0 #dfdfdf;
    float: none;
    padding: 5px 0;
    position: absolute;
    right: 60px;
    left: auto;
    text-align: right;
    top: 0px;
    width: auto;
    z-index: 1;
    font-size: 12px;
}

.block-views .view .date-nav-wrapper .date-prev {
    left: 0;
    right: auto;
}

.view .date-nav-wrapper .date-prev a {
    margin-left: 10px;
    font-weight: bold;
}

.view .date-nav-wrapper .date-heading {
    position: relative;
    width: 100%;
    top: 0px;
    text-align: center;
    z-index: 0;
}

.view .date-nav-wrapper .date-heading h3 {
    line-height: 30px;
    font-size: 1.7em;
}

.view .date-nav-wrapper .date-next {
    -moz-border-radius: 0px 5px 5px 0px;
    border-radius: 0px 5px 5px 0px;
    background: none repeat scroll 0 0 #dfdfdf;
    float: none;
    padding: 5px 0;
    position: absolute;
    right: 0px;
    text-align: right;
    top: 0px;
    width: auto;
    z-index: 1;
    font-size: 12px;
}

.view .date-nav-wrapper .date-next a {
    margin-right: 10px;
    font-weight: bold;
}

.attachment .calendar-calendar {
    margin-top: 20px;
    clear: both;
}

.calendar-calendar th a,.attachment .calendar-calendar th {
    background-color: transparent;
    border: 0px;
}

.attachment .calendar-calendar th.calendar-agenda-hour {
    color: #777777;
    font-weight: bold;
    text-align: right;
}

.view-calendar .feed-icon {
    margin-top: 5px;
}

.view table.mini .date-prev,.view table.mini .date-next {
    background: none;
}

.date-nav div.date-prev,.date-nav div.date-next,.date-nav {
    width: auto;
}

ul.calendar-links,.region-content ul.calendar-links {
    margin: 0;
    padding: 0;
}

.year-view div.month-view div.date-nav {
    background-color: #DFDFDF;
    min-height: 20px;
}
.container-inline-date {
    clear: both;
}

.container-inline-date .form-item {
    float: none;
    margin: 0;
    padding: 0;
}

.container-inline-date > .form-item {
    display: inline-block;
    margin-right: 0.5em;
    margin-bottom: 10px;
    vertical-align: top;
}

.container-inline-date .form-item .form-item {
    float: left;
}

.container-inline-date .form-item,.container-inline-date .form-item input {
    width: auto;
}

.container-inline-date .description {
    clear: both;
}

.container-inline-date .form-item input,.container-inline-date .form-item select,.container-inline-date .form-item option {
    margin-right: 5px;
}

.container-inline-date .date-spacer {
    margin-left: -5px;
}

.views-right-60 .container-inline-date div {
    margin: 0;
    padding: 0;
}

.container-inline-date .date-timezone .form-item {
    clear: both;
    float: none;
    width: auto;
}

.container-inline-date .date-padding {
    padding: 10px;
    float: left;
}

.views-exposed-form .container-inline-date .date-padding {
    padding: 0;
}

#calendar_div,#calendar_div td,#calendar_div th {
    margin: 0;
    padding: 0;
}

#calendar_div,.calendar_control,.calendar_links,.calendar_header,.calendar {
    border-collapse: separate;
    margin: 0;
    width: 185px;
}

.calendar td {
    padding: 0;
}

span.date-display-single {
}

span.date-display-start {
}

span.date-display-end {
}

.date-prefix-inline {
    display: inline-block;
}

.date-clear {
    clear: both;
    display: block;
    float: none;
}

.date-no-float {
    clear: both;
    float: none;
    width: 98%;
}

.date-float {
    clear: none;
    float: left;
    width: auto;
}

.date-float .form-type-checkbox {
    padding-right: 1em;
}

.form-type-date-select .form-type-select[class$=hour] {
    margin-left: .75em;
}

.date-container .date-format-delete {
    float: left;
    margin-top: 1.8em;
    margin-left: 1.5em;
}

.date-container .date-format-name {
    float: left;
}

.date-container .date-format-type {
    float: left;
    padding-left: 10px;
}

.date-container .select-container {
    clear: left;
    float: left;
}

div.date-calendar-day {
    background: #F3F3F3;
    border-top: 1px solid #EEE;
    border-left: 1px solid #EEE;
    border-right: 1px solid #BBB;
    border-bottom: 1px solid #BBB;
    color: #999;
    float: left;
    line-height: 1;
    margin: 6px 10px 0 0;
    text-align: center;
    width: 40px;
}

div.date-calendar-day span {
    display: block;
    text-align: center;
}

div.date-calendar-day span.month {
    background-color: #B5BEBE;
    color: white;
    font-size: .9em;
    padding: 2px;
    text-transform: uppercase;
}

div.date-calendar-day span.day {
    font-size: 2em;
    font-weight: bold;
}

div.date-calendar-day span.year {
    font-size: .9em;
    padding: 2px;
}

.form-item.form-item-instance-widget-settings-input-format-custom,.form-item.form-item-field-settings-enddate-required {
    margin-left: 1.3em;
}

#edit-field-settings-granularity .form-type-checkbox {
    margin-right: .6em;
}

.date-year-range-select {
    margin-right: 1em;
}
#ui-datepicker-div {
    font-size: 100%;
    font-family: Verdana,sans-serif;
    background: #eee;
    border-right: 2px #666 solid;
    border-bottom: 2px #666 solid;
    z-index: 9999;
}

.ui-datepicker {
    width: 17em;
    padding: .2em .2em 0;
}

.ui-datepicker .ui-datepicker-header {
    position: relative;
    padding: .2em 0;
}

.ui-datepicker .ui-datepicker-prev,.ui-datepicker .ui-datepicker-next {
    position: absolute;
    top: 2px;
    width: 1.8em;
    height: 1.8em;
}

.ui-datepicker .ui-datepicker-prev-hover,.ui-datepicker .ui-datepicker-next-hover {
    top: 1px;
}

.ui-datepicker .ui-datepicker-prev {
    left: 2px;
}

.ui-datepicker .ui-datepicker-next {
    right: 2px;
}

.ui-datepicker .ui-datepicker-prev-hover {
    left: 1px;
}

.ui-datepicker .ui-datepicker-next-hover {
    right: 1px;
}

.ui-datepicker .ui-datepicker-prev span,.ui-datepicker .ui-datepicker-next span {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -8px;
    top: 50%;
    margin-top: -8px;
}

.ui-datepicker .ui-datepicker-title {
    margin: 0 2.3em;
    line-height: 1.8em;
    text-align: center;
}

.ui-datepicker .ui-datepicker-title select {
    float: left;
    font-size: 1em;
    margin: 1px 0;
}

.ui-datepicker select.ui-datepicker-month-year {
    width: 100%;
}

.ui-datepicker select.ui-datepicker-month,.ui-datepicker select.ui-datepicker-year {
    width: 49%;
}

.ui-datepicker .ui-datepicker-title select.ui-datepicker-year {
    float: right;
}

.ui-datepicker table {
    width: 100%;
    font-size: .9em;
    border-collapse: collapse;
    margin: 0 0 .4em;
}

.ui-datepicker th {
    padding: .7em .3em;
    text-align: center;
    font-weight: bold;
    border: 0;
}

.ui-datepicker td {
    border: 0;
    padding: 1px;
}

.ui-datepicker td span,.ui-datepicker td a {
    display: block;
    padding: .2em;
    text-align: right;
    text-decoration: none;
}

.ui-datepicker .ui-datepicker-buttonpane {
    background-image: none;
    margin: .7em 0 0 0;
    padding: 0 .2em;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}

.ui-datepicker .ui-datepicker-buttonpane button {
    float: right;
    margin: .5em .2em .4em;
    cursor: pointer;
    padding: .2em .6em .3em .6em;
    width: auto;
    overflow: visible;
}

.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
    float: left;
}

.ui-datepicker.ui-datepicker-multi {
    width: auto;
}

.ui-datepicker-multi .ui-datepicker-group {
    float: left;
}

.ui-datepicker-multi .ui-datepicker-group table {
    width: 95%;
    margin: 0 auto .4em;
}

.ui-datepicker-multi-2 .ui-datepicker-group {
    width: 50%;
}

.ui-datepicker-multi-3 .ui-datepicker-group {
    width: 33.3%;
}

.ui-datepicker-multi-4 .ui-datepicker-group {
    width: 25%;
}

.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header {
    border-left-width: 0;
}

.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
    border-left-width: 0;
}

.ui-datepicker-multi .ui-datepicker-buttonpane {
    clear: left;
}

.ui-datepicker-row-break {
    clear: both;
    width: 100%;
}

.ui-datepicker-rtl {
    direction: rtl;
}

.ui-datepicker-rtl .ui-datepicker-prev {
    right: 2px;
    left: auto;
}

.ui-datepicker-rtl .ui-datepicker-next {
    left: 2px;
    right: auto;
}

.ui-datepicker-rtl .ui-datepicker-prev:hover {
    right: 1px;
    left: auto;
}

.ui-datepicker-rtl .ui-datepicker-next:hover {
    left: 1px;
    right: auto;
}

.ui-datepicker-rtl .ui-datepicker-buttonpane {
    clear: right;
}

.ui-datepicker-rtl .ui-datepicker-buttonpane button {
    float: left;
}

.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current {
    float: right;
}

.ui-datepicker-rtl .ui-datepicker-group {
    float: right;
}

.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header {
    border-right-width: 0;
    border-left-width: 1px;
}

.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
    border-right-width: 0;
    border-left-width: 1px;
}
.date-repeat-input {
    float: left;
    margin-right: 5px;
    width: auto;
}

.date-repeat-input select {
    min-width: 7em;
}

.date-repeat fieldset {
    clear: both;
    float: none;
}

.date-repeat-radios {
    margin-bottom: 1em;
}

.date-repeat-radios input[type=radio] {
    float: left;
    margin: 0.75em 0.75em 0 0;
}

.date-repeat-radios .form-wrapper {
    float: left;
}

.date-repeat-radios .form-type-checkboxes .form-type-checkbox {
    width: 15%;
    float: left;
    margin: 0;
}

.date-repeat-radios .date-repeat-radios-item {
    margin-bottom: 1em;
}

.weekly .form-type-checkboxes .form-type-checkbox {
    float: left;
    margin-right: 10px;
}

.date-repeat-input.byday-count label,.date-repeat-input.byday-count select,.date-clear.bymonthday label,.date-clear.bymonthday select {
    display: inline;
}

.date-repeat-input.byday-day label,.date-clear.bymonthday .field-suffix {
    font-weight: bold;
}

.range-of-repeat .form-radios > div {
    margin-top: 0.5em;
}

.range-of-repeat .count input[type=text] {
    margin: 0 0.5em;
}

.range-of-repeat .until .form-wrapper {
    margin: 0 0.5em;
    display: inline-block;
    vertical-align: middle;
}

.range-of-repeat .until .form-radio,.range-of-repeat .until .date-prefix-inline {
    margin: 0 0 1.4em 0;
    vertical-align: middle;
}

.range-of-repeat .until.widget-date_popup.label-above .form-radio,.range-of-repeat .until.widget-date_popup.label-above .date-prefix-inline {
    margin: 0;
    vertical-align: middle;
}

.range-of-repeat .until.widget-date_select.label-within .form-radio,.range-of-repeat .until.widget-date_select.label-within .date-prefix-inline {
    margin: 0;
    vertical-align: middle;
}

.range-of-repeat .until.widget-date_select.label-above .form-radio,.range-of-repeat .until.widget-date_select.label-above .date-prefix-inline {
    margin: 1.4em 0 0 0;
    vertical-align: middle;
}

.range-of-repeat .until .form-type-date-text .date-padding {
    padding: 0;
}

.range-of-repeat .until.widget-date_select.label-within .date-padding {
    padding: 0;
}

.range-of-repeat .until.widget-date_select.label-above .date-padding {
    padding: 0;
}

.range-of-repeat .until .form-type-date-select,.range-of-repeat .until .form-type-date-popup,.range-of-repeat .until .form-type-date-text {
    border: none;
    margin: 0;
}
div.toboggan-container {
    text-align: center;
}

div.toboggan-login-link-container {
    text-align: left;
}

div.toboggan-login-link-container a {
    text-decoration: none;
}

div.toboggan-block-message {
    text-align: left;
}

div.user-login-block {
    text-align: left;
}

div.user-login-block a {
    text-align: left;
}

.toboggan-unified #login-message {
    text-align: center;
    font-size: 2em;
    line-height: 1.2;
}

.toboggan-unified #login-links {
    text-align: center;
    font-size: 1.5em;
    line-height: 2.7;
}

.toboggan-unified #login-links a {
    padding: .5em;
    border: 1px #666 solid;
    background-color: #EEE;
}

.toboggan-unified #login-links a:hover {
    background-color: #DDD;
}

.toboggan-unified #login-links a.lt-active,.toboggan-unified #login-links a.lt-active:hover {
    background-color: #FFF19A;
    border: 2px #333 solid;
}

.toboggan-unified.login #register-form {
    display: none;
}

.toboggan-unified.register #login-form {
    display: none;
}
.node-unpublished {
    background-color: #fff4f4;
}

.preview .node {
    background-color: #ffffea;
}

td.revision-current {
    background: #ffc;
}
.field__label {
    font-weight: bold;
}

.field--label-inline .field__label,.field--label-inline .field__items {
    float: left;
}
span[data-picture-align="left"],img[data-picture-align="left"] {
    float: left;
}

span[data-picture-align="right"],img[data-picture-align="right"] {
    float: right;
}

span[data-picture-align="center"],img[data-picture-align="center"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cke_dialog_body tr td:last-child {
    border-right: 0px;
}
.views-exposed-form .views-exposed-widget {
    float: left;
    padding: .5em 1em 0 0;
}

.views-exposed-form .views-exposed-widget .form-submit {
    margin-top: 1.6em;
}

.views-exposed-form .form-item,.views-exposed-form .form-submit {
    margin-top: 0;
    margin-bottom: 0;
}

.views-exposed-form label {
    font-weight: bold;
}

.views-exposed-widgets {
    margin-bottom: .5em;
}

.views-align-left {
    text-align: left;
}

.views-align-right {
    text-align: right;
}

.views-align-center {
    text-align: center;
}

.views-view-grid tbody {
    border-top: none;
}

.view .progress-disabled {
    float: none;
}
div.password-confirm {
    visibility: hidden;
}
.rteindent1 {
    margin-left: 40px;
}

.rteindent2 {
    margin-left: 80px;
}

.rteindent3 {
    margin-left: 120px;
}

.rteindent4 {
    margin-left: 160px;
}

.rteleft {
    text-align: left;
}

.rteright {
    text-align: right;
}

.rtecenter {
    text-align: center;
}

.rtejustify {
    text-align: justify;
}

.ibimage_left {
    float: left;
}

.ibimage_right {
    float: right;
}
.password-strength {
    float: right;
    margin-top: 1.2em;
    width: 17em;
}

.password-strength-title {
    float: left;
}

.password-strength-text {
    float: right;
    font-weight: bold;
}

.password-indicator {
    clear: both;
    height: 0.3em;
    width: 100%;
    background-color: #c4c4c4;
}

.password-indicator .indicator {
    height: 100%;
    width: 0%;
    background-color: #47c965;
}

div.password-confirm {
    float: right;
    clear: both;
    width: 17em;
    margin-top: 1.5em;
}

.form-type-password-confirm input {
    width: 16em;
}

.password-suggestions {
    margin: 0.7em 0;
    padding: 0.2em 0.5em;
    border: 1px solid #b4b4b4;
}

.user-profile-item__label {
    font-weight: bold;
}

.profile {
    clear: both;
    margin: 1em 0;
}

.profile .user-picture {
    float: right;
    margin: 0 1em 1em 0;
}

.profile h3 {
    border-bottom: 1px solid #ccc;
}

.profile dl {
    margin: 0 0 1.5em 0;
}

.profile dt {
    margin: 0 0 0.2em 0;
    font-weight: bold;
}

.profile dd {
    margin: 0 0 1em 0;
}