@import url(../fonts/beton/style.css);
@import url(../fonts/filosofia/style.css);
@import url(../fonts/icomoon/style.css);
@import url(../fonts/mrs-eaves/style.css);
@import url(../fonts/sackers/style.css);
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline; }

/* remember to define focus styles! */
:focus {
    outline: 0; }

body {
    line-height: 1;
    color: black;
    background: white; }

ol, ul {
    list-style: none; }

/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: separate;
    border-spacing: 0; }

caption, th, td {
    text-align: left;
    font-weight: normal; }

blockquote:before, blockquote:after,
q:before, q:after {
    content: ""; }

blockquote, q {
    quotes: "" ""; }

body {
    color: #333;
    font-family: "Ideal Sans SSm 3r", "Ideal Sans SSm A", "Ideal Sans SSm B";
    font-size: 0.875em;
    -webkit-font-smoothing: antialiased;
    line-height: 1.3125em;
    letter-spacing: .0525em; }
@media screen and (min-width: 768px) and (max-width: 1024px) {
    body {
        font-size: .725em; } }

h1, h2, h3, h4, h5, h6 {
    font-family: "SackersGothicW01-Heavy";
    font-weight: normal;
    text-transform: lowercase;
    letter-spacing: 0.075em;
    line-height: 1.25;
    margin: 0;
    text-rendering: optimizeLegibility;
    font-size: 1em;
    margin-bottom: 1em;
    color: #002f65; }
h1.block__title, h2.block__title, h3.block__title, h4.block__title, h5.block__title, h6.block__title {
    margin-bottom: 1.65em; }

p {
    margin: 0 0 0.65625em;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0;
    font-size: .875em; }
p strong {
    font-weight: normal; }
p a {
    text-transform: uppercase;
    font-size: .9em;
    color: #7a7a7a; }

a {
    color: #002f65;
    text-decoration: none;
    -webkit-transition: color 0.1s linear;
    -moz-transition: color 0.1s linear;
    transition: color 0.1s linear; }
a:hover {
    color: #000b19; }
a:active, a:focus {
    color: #000b19;
    outline: none; }

hr {
    border-bottom: 1px solid #DDD;
    border-left: none;
    border-right: none;
    border-top: none;
    margin: 1.3125em 0; }

img {
    margin: 0;
    width: 100%;
    height: auto; }

abbr, acronym {
    border-bottom: 1px dotted #DDD;
    cursor: help; }

address {
    display: block;
    margin: 0 0 0.65625em; }

hgroup {
    margin-bottom: 0.65625em; }

del {
    color: #595959; }

blockquote {
    border-left: 2px solid #DDD;
    color: #595959;
    margin: 1.3125em 0;
    padding-left: 0.65625em; }

cite {
    color: #737373;
    font-style: italic; }
cite:before {
    content: '\2014 \00A0'; }

.menu {
    list-style: none; }
.menu li {
    list-style: none;
    list-style-image: none !important;
    list-style-type: none !important; }

/*
input,
label,
select {
  display: block;
  font-family: $form-font-family;
  font-size: $form-font-size;
}
*/
label {
    font-family: "Ideal Sans SSm 3r", "Ideal Sans SSm A", "Ideal Sans SSm B";
    text-transform: uppercase;
    font-weight: 200 !important; }
label.required:after {
    content: "*"; }
label abbr {
    display: none; }

textarea, select,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple],
select,
option {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: 0;
    border: 1px solid #dbdbdb;
    padding: 1em 2em;
    width: 100%;
    padding: 4px;
    font-family: "Ideal Sans SSm 3r", "Ideal Sans SSm A", "Ideal Sans SSm B";
    font-size: 0.875em;
    color: #7a7a7a;
    margin: 4px auto; }
textarea:focus, select:focus,
input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
select[multiple=multiple]:focus,
select:focus,
option:focus {
    outline: none; }

textarea, select {
    resize: vertical; }

input[type="search"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none; }

input[type="checkbox"], input[type="radio"] {
    display: inline;
    margin-right: 0.328125em; }

input[type="file"] {
    margin-bottom: 0.65625em;
    padding-bottom: 0.4375em;
    width: 100%; }

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    background: transparent;
    border-radius: 0;
    display: inline-block;
    margin-top: .75em;
    margin-bottom: 0;
    margin-left: 0;
    width: auto;
    width: 100%;
    color: #929292;
    background-image: url(../images/arrow-down.svg);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 1.325em; }

button,
input[type="submit"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 1px;
    font-family: "Ideal Sans SSm 3r", "Ideal Sans SSm A", "Ideal Sans SSm B";
    font-size: .875em;
    padding: .65em 1em;
    border: 1px solid #dbdbdb;
    box-shadow: none !important;
    cursor: pointer;
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjY1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4xNiIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.65) 0%, rgba(0, 0, 0, 0.16) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.65)), color-stop(100%, rgba(0, 0, 0, 0.16)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.65) 0%, rgba(0, 0, 0, 0.16) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0.65) 0%, rgba(0, 0, 0, 0.16) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.65) 0%, rgba(0, 0, 0, 0.16) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.65) 0%, rgba(0, 0, 0, 0.16) 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6ffffff', endColorstr='#29000000',GradientType=0 );
    /* IE6-8 */ }

.block--reservation-form a {
    text-transform: uppercase;
    color: #002f65; }

.query-reservation .email, .entitytype-private_dining_request-form .email {
    width: 100%; }
.query-reservation .date, .entitytype-private_dining_request-form .date {
    max-width: 75px; }
.query-reservation .first-name, .query-reservation .last-name, .query-reservation .numguests, .query-reservation .phone, .entitytype-private_dining_request-form .first-name, .entitytype-private_dining_request-form .last-name, .entitytype-private_dining_request-form .numguests, .entitytype-private_dining_request-form .phone {
    width: 48.5%;
    clear: none;
    float: left; }
.query-reservation .last-name, .query-reservation .numguests, .entitytype-private_dining_request-form .last-name, .entitytype-private_dining_request-form .numguests {
    margin-left: 3%; }
.query-reservation button, .entitytype-private_dining_request-form button {
    margin-top: 1em; }

.queried-date {
    font-weight: bold; }
.queried-date .the-date {
    color: #002f65;
    display: inline;
    font-weight: 800; }

.registrant-data {
    display: inline-block;
    width: 100%; }
.registrant-data .name, .registrant-data .guests {
    float: left;
    width: 50%;
    padding: 0; }
.registrant-data .email, .registrant-data .number {
    width: 50%;
    text-align: right;
    float: right;
    padding: 0; }
.registrant-data .email a {
    text-transform: none; }

.available-dates {
    display: inline-block;
    width: 100%; }
.available-dates .available-date {
    display: inline-block;
    width: 100%; }
.available-dates .available-date .time {
    float: left;
    width: 25%; }
.available-dates .available-date .space {
    float: left;
    width: 37.5%; }
.available-dates .available-date .reserve-now {
    float: right;
    text-align: right;
    width: 37.5%; }

.waiting-list header {
    margin-bottom: 0;
    font-weight: 800; }
.waiting-list .add-name-reset {
    margin-top: 8px; }
.waiting-list .add-name {
    float: left;
    text-transform: uppercase;
    color: #002f65; }
.waiting-list .reset {
    float: right; }

.credit-card-signup a {
    margin-top: 10px; }
.credit-card-signup .cc-expiration {
    width: 55%; }
.credit-card-signup .cc-cvv {
    width: 41%;
    margin-left: 5px; }
.credit-card-signup .cc-submit {
    margin-top: 5px; }
.credit-card-signup .cancel {
    float: right; }

#OT_searchWrapperAll .partOfCal table:nth-child(4), #OT_submitWrap {
    position: relative;
    display: inline-block;
    width: 100%;
    height: auto;
    padding: 0;
    top: 0;
    left: 0;
    margin: 0; }

#OT_defList dt, #OT_defList dd {
    margin-top: 15px;
    display: inline-block; }
#OT_defList dt {
    font-weight: normal !important; }
#OT_defList dd#OT_time {
    width: 83px; }

#OT_searchWrapperAll .partOfCal img.partOfCal.spacer {
    display: none; }
#OT_searchWrapperAll table#imageCal {
    margin-top: 0; }
#OT_searchWrapperAll .imgCal table {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    border: 0 !important;
    border-spacing: 0 !important;
    width: 100% !important;
    display: block !important; }
#OT_searchWrapperAll .imgCal table tbody {
    display: absolute; }
#OT_searchWrapperAll .imgCal table tr {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 0 !important;
    border-spacing: 0 !important; }
#OT_searchWrapperAll table.monthRow {
    margin: 0 !important;
    font-family: "Ideal Sans SSm 3r", "Ideal Sans SSm A", "Ideal Sans SSm B" !important; }
#OT_searchWrapperAll td.months.partOfCal {
    width: 90%;
    background-color: #002f65 !important; }
#OT_searchWrapperAll td.rightArrowTd.partOfCal, #OT_searchWrapperAll td.leftArrowTd.partOfCal {
    width: 10%;
    background-color: #002f65 !important; }
#OT_searchWrapperAll td.rightArrowTd.partOfCal img, #OT_searchWrapperAll td.leftArrowTd.partOfCal img {
    display: none; }
#OT_searchWrapperAll td.rightArrowTd.partOfCal:before {
    content: '\003E';
    color: #FFF;
    font-size: .8em; }
#OT_searchWrapperAll .partOfCal table:nth-child(3) {
    margin-top: 0 !important;
    font-family: "Ideal Sans SSm 3r", "Ideal Sans SSm A", "Ideal Sans SSm B" !important;
    margin-bottom: 0; }
#OT_searchWrapperAll .partOfCal table:nth-child(3) tbody > tr:last-child {
    display: none; }
#OT_searchWrapperAll .nonclickableDays, #OT_searchWrapperAll .clickableDays {
    padding: 1px !important; }
#OT_searchWrapperAll .partOfCal table:nth-child(4) {
    display: block;
    position: absolute;
    margin-top: 0 !important;
    font-family: "Ideal Sans SSm 3r", "Ideal Sans SSm A", "Ideal Sans SSm B" !important; }
#OT_searchWrapperAll .partOfCal table:nth-child(4) img {
    display: none; }
#OT_searchWrapperAll .partOfCal table:nth-child(4) td > a {
    display: block;
    position: absolute;
    width: 15px;
    height: 16px;
    background: #002f65;
    right: -15px;
    border-bottom: 1px solid #989898;
    box-sizing: border-box;
    top: 2px; }
#OT_searchWrapperAll .partOfCal table:nth-child(4) td > a:before {
    content: 'x';
    color: #FFF;
    line-height: 1; }

/*-------------------------------- \
\    Decontamination Chamber       /
 \ ------------------------------*/
.ui-accordion-header {
    outline: none;
    cursor: pointer; }

.ui-accordion-header a {
    text-transform: uppercase;
    color: #3d3d3d;
    display: block;
    margin: .5em 0;
    font-size: .95em; }

.ui-accordion-header {
    border: 0;
    background: transparent; }
.ui-accordion-header a {
    font-size: .85em; }
.ui-accordion-header:before, .ui-accordion-header:after {
    display: none; }
.ui-accordion-header .ui-accordion-header-icon {
    display: none; }

.ui-widget-content {
    border: 0;
    font-size: .85em; }

.ui-widget {
    font-size: 1em; }

table {
    border-collapse: collapse;
    margin: 0.65625em 0;
    table-layout: fixed;
    width: 100%; }

th {
    border-bottom: 1px solid #b7b7b7;
    font-weight: bold;
    padding: 0.65625em 0;
    text-align: left; }

td {
    border-bottom: 1px solid #DDD;
    padding: 0.65625em 0; }

tr, td, th {
    vertical-align: middle; }

ul, ol {
    margin: 0;
    padding: 0;
    list-style-type: none; }
dl {
    line-height: 1.3125em;
    margin-bottom: 0.65625em; }
dl dt {
    font-weight: bold;
    margin-top: 0.65625em; }
dl dd {
    margin: 0; }

/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */
.jspContainer {
    overflow: hidden;
    position: relative; }

.scroll-pane {
    outline: none; }

.jspPane {
    position: absolute;
    max-width: 90%; }

.jspVerticalBar {
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background: #898989; }

.jspCap {
    display: none; }

.jspHorizontalBar .jspCap {
    float: left; }

.jspTrack {
    background: #ebebeb;
    position: relative; }

.jspDrag {
    background: #898989;
    position: relative;
    top: 0;
    left: 0;
    cursor: pointer; }

.jspVerticalBar .jspArrow {
    height: 16px; }

.jspCorner {
    background: transparent;
    float: left;
    height: 100%; }

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner {
    margin: 0 -3px 0 0; }

.scroll-pane {
    overflow-x: hidden;
    overflow-y: scroll;
    padding-right: 20px; }

::-webkit-scrollbar {
    width: 3px; }

::-webkit-scrollbar-track {
    border-radius: 0;
    background: rgba(204, 204, 204, 0.3); }

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); }

::-moz-scrollbar {
    width: 3px; }

::-moz-scrollbar-track {
    border-radius: 0;
    background: rgba(204, 204, 204, 0.3); }

::-moz-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); }

.brand-heading {
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    margin: 20px auto;
    height: 110px; }
@media screen and (max-width: 767px) {
    .brand-heading {
        height: 80px; } }

.tkrg-family .brand-heading {
    margin: 70px 0;
    height: auto; }

body, body p {
    font-family: "Ideal Sans SSm 3r", "Ideal Sans SSm A", "Ideal Sans SSm B";
    font-style: normal; }

.main-nav > ul > li > ul {
    z-index: 501;
    background: #FFF;
    border: 1px #dedede solid; }

html .tkrg .brand-heading, html .thomas-keller .brand-heading {
    background-image: url(../images/logos/thomas-keller.png);
    width: 250px; }
html .beverly-hills.bouchon-bar .brand-heading {
    background-image: url(../images/logos/bar-bouchon-beverly-hills.png);
    width: 225px; }
html .beverly-hills.bouchon-bakery .brand-heading {
    background-image: url(../images/logos/bouchon-bakery-beverly-hills.png);
    width: 226px; }
html .beverly-hills.bouchon .brand-heading {
    background-image: url(../images/logos/bouchon-beverly-hills.png);
    width: 225px; }
html .las-vegas.bouchon-bakery .brand-heading {
    background-image: url(../images/logos/bouchon-bakery-venetian.png);
    width: 226px; }
html .bouchon.las-vegas .brand-heading {
    background-image: url(../images/logos/bouchon-las-vegas.png);
    width: 225px; }
html .ad-lib .brand-heading {
    background-image: url(../images/logos/ad-lib.png);
    width: 165px; }
html .rockafeller-center.bouchon-bakery .brand-heading {
    background-image: url(../images/logos/bouchon-bakery-rockefeller-center.png);
    width: 226px; }
html .time-warner.bouchon-cafe-wine-bar .brand-heading {
    background-image: url(../images/logos/bouchon-bakery-time-warner.png);
    width: 226px; }
html .per-se .brand-heading {
    background-image: url(../images/logos/per-se.png);
    background-size: 100%;
    width: 125px; }
html .bouchon-bakery.yountville .brand-heading {
    background-image: url(../images/logos/bouchon-bakery-yountville.png);
    width: 226px; }
html .bouchon.yountville .brand-heading {
    background-image: url(../images/logos/bouchon-yountville.png);
    width: 225px; }
html .restaurant-minsk .brand-heading {
    background-image: url(../images/logos/the-restaurant-minsk.png);
    width: 260px; }
html .ad-hoc .brand-heading {
    background-image: url(../images/logos/ad-hoc-addendum.png);
    width: 400px; }