<div class="container-fluid l11 products-header clearfix">
    <div class="products-header-overlay"></div>
    <div class="products-header__inner">
        <div class="row">
            <div class="col-md-7">
                <div class="products-header__description">
                    {*<h1>Продукты</h1>
                    <p class="products-header__description-text">
                        В русском языке «фрукт» — термин не ботанический, а бытовой и хозяйственный. В хозяйстве съедобные растения и съедобные части растений делят на фрукты, овощи, орехи, зерновые культуры и т. д. По традиционной классификации, фрукты — сочные плоды деревьев и кустарников. Овощи же — это плоды или иные съедобные части травянистых растений. Но в настоящее время съедобные сладкие ягоды (даже у травянистых растений) также обычно причисляют к фруктам.
                    </p>*}
                </div>
            </div>
            <div class="col-md-5">
                {include file='blocks/get_price.tpl'}
            </div>
        </div>
    </div>
</div>