<div class="container-fluid l6">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2>Нам доверяют</h2>
                <img class="trust-item" src="design/images/lg1.png">
                <img class="trust-item" src="design/images/lg2.png">
                <img class="trust-item" src="design/images/lg3.png">
                <img class="trust-item" src="design/images/lg5.png">
                <img class="trust-item" src="design/images/lg4.png">
            </div>
        </div>
    </div>
</div>